{% extends 'base.html.twig' %}

{% block title %}TheDistrict-Plats
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Plats</h1>
		{% for flat in flats %}

			<div>
				<p>{{ flat.name }}</p>
			</div>

		{% endfor %}
	</div>
{% endblock %}

