{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
	{% for message in app.flashes('success') %}
    <div class="alert-success">
        {{ message }}
    </div>
{% endfor %}
		<h1 class="mt-4">Ajout d'un plat</h1>
		{{ form(form) }}
	</div>
{% endblock %}

